# Ignore everything
*

# Allow directories to be traversed
!*/

# Root files
.gitattributes
.gitignore
.gitmodules
.luacheckrc
README.md

# CI / tooling
!.busted
!.github/**
!spec/**

# Addons
!autoscanner/**
!autoraidkick/**
!autorole/**
!Backup/**
!bigcastbars/**
!buffcaptracker/**
!choretracker/**
!classtracker/**
!deathlog/**
!dpsmeter/**
!dressup/**
!easypull/**
!extendedplates/**
!gearswap/**
!globals/**
!guildquesttracker/**
!hiddendebufftracker/**
!highlight/**
!luaerrorprinter/**
!magiccircle/**
!omnicraft/**
!personalportals/**
!raidchecker/**
!raidcheckresige/**
!reloadcfg/**
!residentboard/**
!scripts/**
!shinysac/**
!tigerstrike/**
!timeuntil/**
!titleswap/**
!translate/**
!uirefresh/**
!z_api_functions/**
!z_images/**
!z_pub_wip/**
!z_scriptsbin/**